.auto_transfer data-auto_purchase=(@users_course.auto_purchase)
  - if @users_course.auto_purchase
    .icon
    .text
      span
        = 'Автоплатеж: '
      span
        = @users_course.access_finished_at
    .clear
    .pseudo Отключить
