.avatar
  img src=@comment.user_avatar_url
.dash
.comment_info
  .date 
    = @comment.created_at
  .commenter
    .commenter_header
      .name
        = 'МОЙ ОТЗЫВ'

      .status.on_moderation
        .dash
        .status_icon
        .text
          = @comment.approved_status

      .clear
      .about_info

    .clear
    .comment_content
      .comment_text class=('on_moderation' unless @comment.approved )
        == @comment.text.replace(/\n/g, '<br>')
      .comment_rating
        - unless @comment.approved
          .edit_button
            .icon
            .text.pseudo.edit Редактировать
        - unless @comment.commentable_type == 'Teacher'
          .rating_wrapper
            .rating_stars
              .rating_progress style="width: #{@comment.points*20}%"

.clear
