.courses_not_found_wrapper
  .courses_not_found
    .not_found_icon
    .not_found_text
      span Ни одного #{@title || 'курса'} не найдено
      span #{you_text('попробуйте', 'попробуй')} изменить параметры фильтрации
