/TODO вынести для повторного использования
- parse = (decorated_number) -> parseInt(decorated_number.split(" ").join(""))
li.selected data-type="entire_course"
  .price_panel_wrapper
    .price_panel
      div
      .price_header_box
        - if @cart.month_purchase_available
          .price_header Целиком
        .price_wrapper
          - if parse(@cart.full_price_with_discount_by_month) < parse(@cart.full_price_by_month)
            .price.discount
              = @cart.full_price_by_month
              .rouble q
          .price
            = @cart.full_price_with_discount_by_month
            .rouble q
          span.per_month в мес
      .price_info_wrapper
        - unless @cart.express_course or not @cart.month_purchase_available
          .price_info
            .profit_icon
            .text.green
              = "Экономия:  #{@cart.full_price_economy}"
              .rouble q
        .access_wrapper
          span.access
            = "#{@cart.access_start_date} — #{@cart.full_access_finish_date}"
