.action_block
  .title
    - switch @event_state
      - when 'started'
        = 'Занятие онлайн'
      - when 'finished'
        - if @state == 'encoding'
          = 'Запись ожидается'
        - else
          = 'Занятие состоялось'
      - else
        -if @remaining > 0
          = 'До занятия осталось'
        - else
          = 'Занятие онлайн'
  .content
    - if @remaining
      .countdown
        .remaining
          .block
            div #{@countdown_days}
            div дней
          .block
            div #{@countdown_hours}
            div часов
          .block
            div #{@countdown_minutes}
            div минут
    - else
      .placeholder_laptop

  - if @state isnt 'not_subscribed'
    .fxf_button.i_go
      .fxf_icon_small.fxf_icon_check_white
      span Я иду

  - if @state != 'subscribed' and @state != 'encoding'
    .fxf_button(data-state=@state)
      - switch @state
        - when 'finished'
          = 'Смотреть запись'
        - when 'started'
          = 'Подключиться'
        - else
          - if @event_state is 'finished'
            = 'Смотреть запись'
          - else
            = 'Записаться бесплатно'
