- course = @users_course.get('course')
- users_course = @users_course.toJSON()
a.user_course_link href=course.url data-id=users_course.id
  .course_icon_wrapper style="background: ##{course.discipline.color}" data-color=course.discipline.color data-hover_color=course.discipline.dark_color
    img.course_icon src=course.discipline.shadowed_image
    .course_info
      .title =course.name
      .subtitle = course.subtitle
      .grades == course.grades_range
      - if users_course.course_type is 2
        .badge.course_express
      - else if users_course.course_type is 3
        .badge.kpk
  .course_info
    == JST['backbone/templates/user_courses/user_course_progress'](users_course: users_course)
    == JST['backbone/templates/user_courses/user_course_status'](users_course: users_course)
    == JST['backbone/templates/user_courses/user_course_access'](users_course: users_course)