.course_lesson_status.access
  .fxf_icon_medium.fxf_icon_lock_grey
  .text
    - switch @users_course.access_finished_at.state
      - when 'finished'
        | Курс не оплачен
      - when 'later'
        - if @users_course.course_type is 3
          = "Доступно до: #{@users_course.access_finished_at.formatted}"
        - else
          = "Оплачено до: #{@users_course.access_finished_at.formatted}"
      - when 'soon'
        - if @users_course.days_remain < 7 and @users_course.days_remain > 1
          = "Доступ закрывается  через #{@users_course.days_remain} #{@users_course.days_remain_text}"
        - else if @users_course.days_remain is 0
          | Доступ закрывается cегодня
        - else if @users_course.days_remain is 1
          | Доступ закрывается завтра
        - else
          span = "Доступ закрывается: #{@users_course.access_finished_at.formatted}"
