<li data-discount="<%= id %>">
  <% if(all_courses) { %>
    <% if(url != null && url != '') { %>
      <div class="header"><a href="<%= url %>"><%= name %> <%= discount %>% на все курсы</a></div>
    <% }else{ %>
      <div class="header"><%= name %> <%= discount %>% на все курсы</div>
    <%};%>
  <% }else{ %>
    <% if(url != null  && url != '') { %><div class="header"><a href="<%= url %>"><%= name %> <%= discount %>% на <% if(courses.length == 1) { %>курс<% }else{ %>курсы<%};%></a>:</div>
    <% }else{ %>
      <div class="header"><%= name %> <%= discount %>% на     
      <% if(courses.length == 1) { %>
        курс:
      <% }else{ %>
        курсы:
      <% };%>
      </div>
    <% };%>
    </div>      
    <ul class="text"> 
      <% _.each(courses, function(course) { %> 
        <li><a href="<%= course.link_path %>"><%= course.name %></a>;</li>
      <% }); %>
  <% }%>
  </ul>
</li>