<% if(status=='ok') { %>
  <h4 class="<%= status %>">Задача решена верно</h4>
<% } else if(status=='fail') { %>
  <h4 class="<%= status %>"> Задача решена не верно</h4>
<% } else if(status=='error') { %>
  <h4 class="<%= status %>"> Попытка сдачи не засчитана</h4>
<% } %>
<p><%= trace %></p>
