.avatar
  img src= @comment.user_avatar_url
.dash
.comment_info
  .date
    = @comment.created_at
  .commenter
    .commenter_header
      .name
        = @comment.user_fio
      - if @comment.user_grade
        .clear
        .about_info
          = @comment.user_grade

    .clear
    .comment_content
      .comment_text
        == @comment.text.replace(/\n/g, '<br>')
      .comment_rating
        .rating_wrapper
          / Commented for feature/STOEGE-3322, don't remove
          / reason: may be necessary in future
          /.rating_stars
          /  .rating_progress style="width: #{@comment.points*20}%"

.clear
