<div class="toggle_element">
  <h3 class="toggle_header"><%= title %></h3>
  <div class="toggle_content"><%= content%></div>
  <div class="toggle_line">
    <div class="toggle_arrow down"></div>
  </div>
</div>
