.dialog_header
  h2 Aвторизуйся, чтобы завершить привязку
  .dialog_hint Пользователь с таким Email уже зарегистрирован

.dialog_content
  .dialog_form.center
    == @content
  .dialog_agreement
    = 'Регистрируясь, Я принимаю условия '
    a href='/user_agreement' target='_blank' пользовательского соглашения
