- switch @current_number
  - when 1
    .parallax_left_part
      h2
        = "Наши ученики"
      .subtitle
        = 'сдают ГИА ' 
        - if @express 
          = 'с результатами выше средних' 
        - else
          = 'с блестящими результатами'
      p
        span.red
          = '96%'
        = ' школьников, прошедших курсы по подготовке к ГИА, рекомендуют нас друзьям.'
    .slider_image.medal

  - when 2
    .parallax_left_part
      h2
        = "Наши преподаватели — лучшие"
      .subtitle
        = 'в подготовке к ГИА'
      p
        = 'Тебя подготовят к экзаменам преподаватели ведущих вузов России, составители экзаменационных заданий и авторы учебников.'
    .slider_image.teachers

  - when 3
    .parallax_left_part
      h2
        - if @express 
          = "За 2 месяца подготовки ты узнаешь" 
        - else 
          = "В рамках курса ты узнаешь"
      .subtitle
        = "о ГИА всё"
      p
        - if @express
          = 'Программа предполагает повторение школьной программы,'
          br
          = 'изучение всех типов упражнений и решение'
          br
          = 'усложненных вариантов ГИА.'
        - else        
          = 'Программа предполагает изучение и разбор'
          br
          = 'всех возможных типов задач,'
          br
          = 'а домашние задания содержат более 150 упражнений.'
    .slider_image.books

  - when 4
    .parallax_left_part
      h2
        = 'К курсу можно присоединиться'
      .subtitle
        = "в любое время"
      p
        = 'Тебе будут доступны видеозаписи всех прошедших занятий,'
        br
        = 'теоретические материалы и домашние задания.'
        br
        = 'Ты всегда можешь посмотреть пропущенные уроки.'
    .slider_image.display
